<h1>Últimas notícias de viagem</h1>

<div class="news-list">
  <% @news.each do |item| %>
    <article class="news-item">
      <h2><%= item[:title] %></h2>
      <p><%= item[:summary] %></p>
      <%= link_to "Leia mais", news_item_path(item[:id]) %>
    </article>
  <% end %>
</div>
