<h1> Paris - França </h1>
<div class="buy-tickets">
  <a href="/mock/latam" target="_blank"> Latam </a>
  <a href="/mock/gol" target="_blank"> Gol </a>
  <a href="/mock/" target="_blank"> Azul </a>
</div>